@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/museosanscyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/museosanscyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .card {
    margin: auto;
  }
  .steps-arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .slider__image {
    margin: auto;
  }
  .yellow-block__text {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .steps__item {
    max-height: 220px;
  }
}

.button123 {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button123:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 500px;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
}

.arrow {
  z-index: 5;
  position: fixed;
  width: 60px;
  height: 60px;
  border: 4px solid #ffd200;
  border-radius: 50%;
  left: 10px;
  top: 30px;
}

.arrow-hide {
  display: none;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333333;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: .2s ease-out;
  white-space: normal !important;
  word-wrap: break-word;
}

.button:hover {
  cursor: pointer;
  color: #fefefe;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 1000ms;
  background-color: #039be5;
}

.navbar {
  padding: 8px 0;
}

.navbar__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__address {
  display: block;
  text-align: right;
  color: #333333;
  font-size: 13px;
  margin-bottom: 9px;
}

.navbar__button {
  color: #333333;
  font-size: 13px;
  margin-left: 30px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 45%;
  padding-right: 100px;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .hero-image {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 230px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url(../img/offer/offer-bg.png) no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  text-align: left;
  max-width: 350px;
  line-height: 35px;
  margin-bottom: 24px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-footnote {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footnote {
  display: flex;
  align-items: center;
}

.footnote__info {
  font-size: 15px;
  line-height: 24px;
  max-width: 225px;
}

.recall__text {
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.recall__phone {
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .offer__title {
    margin: auto;
  }
  .offer__subtitle {
    margin: auto;
    padding: 20px;
  }
}

@media (max-width: 530px) {
  .offer-footnote {
    flex-direction: column;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat center left;
  background-size: contain;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(255, 210, 0, 0.3);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  transition: 0.2s;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -4px;
  left: 0;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.4s;
  opacity: 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.steps__title {
  margin: auto;
  max-width: 530px;
  margin-bottom: 69px;
}

.steps__subtitle {
  display: block;
  text-align: center;
}

.steps__block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
  flex-wrap: wrap;
  margin-top: 69px;
}

.steps__image {
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.steps__item {
  max-width: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 210px;
  margin-top: 11px;
}

.steps__descr {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
}

.step__image {
  max-width: 100%;
}

.yellow-block {
  margin-bottom: 100px;
}

.yellow-block__box {
  max-width: 900px;
  margin: auto;
}

.yellow-block__text {
  text-align: center;
}

.yellow-block__bg {
  background: #ffd200;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.choice__item {
  margin-bottom: 70px;
  margin-right: 30px;
  max-width: 370px;
  max-height: 410px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}

.choice__item:hover .choice__bg {
  transition: 0.3s;
  transform: translateY(-15px);
}

.choice__bg {
  max-width: 100%;
  position: absolute;
  z-index: -1;
  transform: translateY(5px);
}

.choice__image {
  height: 278px;
  display: flex;
  max-width: 100%;
}

.choice__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice__text {
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 27px;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 36px;
  color: #333333;
}

.choice__bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.warranty {
  margin-top: 70px;
}

.warranty__title {
  margin: auto;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 650px;
  text-align: center;
}

.warranty__box {
  text-align: center;
}

.warranty__sert {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 99px;
  margin-bottom: 200px;
}

.warranty__item {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 28px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

.warranty__img {
  max-width: 270px;
  height: 360px;
  border: 20px solid #f5f5f5;
  margin-bottom: 41px;
}
/*# sourceMappingURL=style.css.map */